* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(186, 228, 238);
  font-family: Arial;
  font-size: 20px;
  padding: 35px;
}

h1 {
  font-size: 40px;
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

h4 {
  text-align: center;
}

p {
  margin-bottom: 20px;
}

.first {
  color: rgb(129, 59, 59);
}

#your-name {
  background-color: rgb(209, 209, 231);
  border: 5px solid #444;
  width: 400px;
  padding: 25px;
  margin-top: 30px;
}

#my-image {
  width: 250px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}

a {
  background-color: yellowgreen;
}

#your-name h2 {
  color: olivedrab;
}
